@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  color: white;
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.drip-effect {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.drip-effect:hover {
  background-color: #5bc774;
  z-index: 100;
}

.drip-effect::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #5bc774;
  border-radius: 50%;
  box-shadow: 0 0 10px #5bc774, 0 0 20px #5bc774, 0 0 30px #5bc774;
  transform: translateX(-50%);
  transition: top 0.5s ease;
}

.drip-effect:hover::after {
  top: 90%;
}
